<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN"
					"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.ktds.sems.member.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.ktds.sems.member.vo.LoginHistoryVO" alias="LoginHistoryVO"/>
		<typeAlias type="com.ktds.sems.education.vo.EducationVO" alias="EducationVO"/>
		<typeAlias type="com.ktds.sems.education.vo.EducationSearchVO" alias="EducationSearchVO"/>
	</typeAliases>

	<mappers>
		<mapper resource="com/ktds/sems/member/dao/impl/sql/memberDAO.xml"/>
		<mapper resource="/com/ktds/sems/education/dao/impl/sql/educationDAO.xml" />
	</mappers>
	
</configuration>