@CHARSET "UTF-8";

div#table_calendar {
	position: relative;
	width: 100%;
	height: 100%;
}

div#table {
	margin-right: 5px;
	margin-bottom: 100px;
	width : 48%;
	height: 1700px;
	float: left;
	position: absolute;
}

div#calendar {
	margin-right: 15px;
	margin-left: 400px;
	width : 48%;
	position: absolute;
}
div.clear {
	clear : both;
}