@CHARSET "UTF-8";

div#table_calendar {
	position: relative;

}

div#table {
	margin-right: 5px;
	margin-bottom: 100px;
	width : 30%;
	height: 1700px;
	float: left;
	position: relative;
}

div#calendar {
	margin-right: 10px;
	width : 25%;
	float: left;
	position: relative;
}
div.clear {
	clear : both;
}